[tools]
python = "latest"
uv = "latest"

[tasks.ruff]
description = "Run Ruff"
run = "uv format"

[tasks.pymarkdown]
description = "Run PyMarkdownLnt"
run = "uv run pymarkdown fix --list-files ."

[tasks.ty]
description = "Run Ty"
run = "uvx ty check --respect-ignore-files"

[tasks.pytest]
description = "Run Pytest"
run = "uv run pytest"

[tasks.pytest-cov]
description = "Run Pytest with coverage"
run = "pytest --junitxml=pytest.xml --cov-report=term-missing:skip-covered --cov=src tests/ | tee pytest-coverage.txt"

[tasks.build]
description = "Build"
run = "uv build"

[tasks.docs]
description = "Generate documentation"
run = "uv run pdoc scrapbox -o ./docs --docformat google"

[tasks.pre-commit]
description = "Run checks on pre-commit"
depends = ["ruff", "ty", "pymarkdown"]

[tasks.ci]
description = "Run CI checks"
depends = ["ruff", "ty", "pytest-cov", "pymarkdown"]
